@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet CSS */
@import "leaflet/dist/leaflet.css";

html,
body {
  height: 100%;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
}

/* Custom marker popup */
.leaflet-popup-content-wrapper {
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

.leaflet-popup-content {
  margin: 12px 16px;
}
